<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.hotelreservationapi.mappers.CardMapper">
    <resultMap id="CardResultMap" type="com.example.hotelreservationapi.domains.Card">
        <id property="id" column="id"/>
        <result property="number" column="number"/>
        <result property="balance" column="balance"/>
        <association property="user" column="user_id" javaType="com.example.hotelreservationapi.domains.User">
            <id property="id" column="uId"/>
            <result property="login" column="login"/>
            <result property="password" column="password"/>
            <result property="name" column="name"/>
            <result property="surname" column="surname"/>
            <result property="middlename" column="middlename"/>
            <result property="email" column="email"/>
        </association>
    </resultMap>

    <select id="readUserCards" resultMap="CardResultMap">
        SELECT cards.id,
               cards.number,
               cards.balance,
               users.id AS uId,
               users.login,
               users.password,
               users.name,
               users.surname,
               users.middlename,
               users.email
        FROM cards
                 LEFT JOIN users ON cards.user_id = users.id
        WHERE cards.user_id = #{userId}
    </select>

    <insert id="create">
        INSERT INTO cards(user_id, number)
        VALUES (#{card.user.id}, #{card.number});
    </insert>

    <delete id="delete">
        DELETE
        FROM cards
        WHERE id = #{id}
    </delete>

    <update id="updateBalance">
        UPDATE cards
        SET balance = #{balance}
        WHERE id = #{id};
    </update>

    <select id="readById" resultMap="CardResultMap">
        SELECT cards.id,
               cards.number,
               cards.balance,
               users.id AS uId,
               users.login,
               users.password,
               users.name,
               users.surname,
               users.middlename,
               users.email
        FROM cards
                 LEFT JOIN users ON cards.user_id = users.id
        WHERE cards.id = #{id}
    </select>

</mapper>