<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.hotelreservationapi.mappers.RequestMapper">
    <resultMap id="RequestResultMap" type="com.example.hotelreservationapi.domains.Request">
        <id property="id" column="id"/>
        <result property="numberOfRooms" column="number_of_rooms"/>
        <result property="roomClass" column="class"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="status" column="status"/>
        <association property="user" column="user_id" javaType="com.example.hotelreservationapi.domains.User">
            <id property="id" column="uId"/>
            <result property="login" column="login"/>
            <result property="password" column="password"/>
            <result property="name" column="name"/>
            <result property="surname" column="surname"/>
            <result property="middlename" column="middlename"/>
            <result property="email" column="email"/>
        </association>
    </resultMap>

    <select id="read" resultMap="RequestResultMap">
        SELECT requests.id,
               requests.number_of_rooms,
               requests.class,
               requests.start_date,
               requests.end_date,
               requests.status,
               users.id as uId,
               users.login,
               users.password,
               users.name,
               users.surname,
               users.middlename,
               users.email
        FROM requests
                 LEFT JOIN users ON requests.user_id = users.id
    </select>

    <select id="readUserRequests" resultMap="RequestResultMap">
        SELECT requests.id,
               requests.number_of_rooms,
               requests.class,
               requests.start_date,
               requests.end_date,
               requests.status,
               users.id as uId,
               users.login,
               users.password,
               users.name,
               users.surname,
               users.middlename,
               users.email
        FROM requests
                 LEFT JOIN users ON requests.user_id = users.id
        WHERE requests.user_id = #{userId}
    </select>

    <select id="readById" resultMap="RequestResultMap">
        SELECT requests.id,
               requests.number_of_rooms,
               requests.class,
               requests.start_date,
               requests.end_date,
               requests.status,
               users.id as uId,
               users.login,
               users.password,
               users.name,
               users.surname,
               users.middlename,
               users.email
        FROM requests
                 LEFT JOIN users ON requests.user_id = users.id
        WHERE requests.id = #{id}
    </select>

    <select id="readUserRequestsByStatus" resultMap="RequestResultMap">
        SELECT requests.id,
               requests.number_of_rooms,
               requests.class,
               requests.start_date,
               requests.end_date,
               requests.status,
               users.id as uId,
               users.login,
               users.password,
               users.name,
               users.surname,
               users.middlename,
               users.email
        FROM requests
                 LEFT JOIN users ON requests.user_id = users.id
        WHERE users.id = #{userId} AND requests.status = #{status}
    </select>

    <select id="readByStatus" resultMap="RequestResultMap">
        SELECT requests.id,
               requests.number_of_rooms,
               requests.class,
               requests.start_date,
               requests.end_date,
               requests.status,
               users.id as uId,
               users.login,
               users.password,
               users.name,
               users.surname,
               users.middlename,
               users.email
        FROM requests
                 LEFT JOIN users ON requests.user_id = users.id
        WHERE requests.status = #{status}
    </select>

    <delete id="deleteRequest">
        DELETE
        FROM requests
        WHERE id = #{id}
    </delete>

    <delete id="deleteByUserId">
        DELETE
        FROM requests
        WHERE user_id = #{userId}
    </delete>

    <insert id="create">
        INSERT INTO requests(user_id, number_of_rooms, class, start_date, end_date, status)
        VALUES (#{user.id},
                #{numberOfRooms},
                #{roomClass},
                #{startDate},
                #{endDate},
                #{status})
    </insert>

    <update id="updateStatus">
        UPDATE requests
        SET status = #{newStatus}
        WHERE id = #{id}
    </update>

</mapper>