<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.hotelreservationapi.mappers.RoomMapper">
    <resultMap id="RoomResultMap" type="com.example.hotelreservationapi.domains.Room">
        <result column="id" property="id"/>
        <result column="number" property="number"/>
        <result column="number_of_rooms" property="numberOfRooms"/>
        <result column="class" property="roomClass"/>
        <result column="price_per_day" property="pricePerDay"/>
    </resultMap>

    <select id="read" resultMap="RoomResultMap">
        SELECT *
        FROM rooms
    </select>

    <insert id="create">
        INSERT INTO rooms(number, number_of_rooms, class, price_per_day)
        VALUES (#{number}, #{numberOfRooms}, #{roomClass}, #{pricePerDay});
    </insert>

    <delete id="delete">
        DELETE
        FROM rooms
        WHERE id = #{id}
    </delete>

    <update id="update">
        UPDATE rooms
        SET number          = #{number},
            number_of_rooms = #{numberOfRooms},
            class           = #{roomClass},
            price_per_day   = #{pricePerDay}
        WHERE id = #{id};
    </update>

    <select id="readById" resultMap="RoomResultMap">
        SELECT *
        FROM rooms
        WHERE rooms.id = #{id}
    </select>

    <select id="readSuitableRooms" resultMap="RoomResultMap">
        SELECT *
        FROM rooms
        WHERE rooms.number_of_rooms = #{numberOfRooms}
          AND rooms.class = #{roomClass}
    </select>

    <!--select *
    from rooms
    where rooms.id not in (
    select r1.id
    from rooms r1
    left join reserved_rooms rr1 on r1.id = rr1.room_id
    where ('2021-10-20' < rr1.end_date AND '2021-10-20' > rr1.start_date)
    OR ('2021-11-12' < rr1.end_date AND '2021-11-12' > rr1.start_date)
    OR ('2021-11-12' > rr1.end_date AND '2021-10-20' < rr1.start_date)
    );-->

</mapper>